<%= render "shared/header" %>
<section class="banner">
    <div class="container">
        <div class="banner__title">
            <h5>welcome</h5>
            <h1 class="heading">prime steak</h1>
        </div>
        <div class="banner__contact-info">
            <div class="banner__booking">book table directly</div>
            <h2>(718) - 218 - 8688</h2>
            <div class="banner__hours">
                opening: <strong>mon - fri:</strong> 9am - 10pm <br class="banner__line-break"> <span class="banner__divider">/</span>
                <strong>weekends:</strong> 9am - 12pm
            </div>
        </div>
    </div>
</section>
<section class="information">
    <div class="information__restaurant-image">
        <%= image_tag "pexels-volkan-vardar-3887985.jpg" %>
    </div>
    <div class="information__info">
        <h2>We Started The Franchise In 1987</h2>
        <div class="information__paragraphs">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos iure et dolores. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem aspernatur eos delectus odit maxime nesciunt cum explicabo, neque asperiores perspiciatis esse unde, consequatur ratione distinctio facilis dolorum doloribus eius. Ducimus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos iure et dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit necessitatibus quasi tempore, beatae laborum recusandae facilis nemo doloribus dolorem! Quibusdam, accusamus. Molestiae doloribus mollitia libero tempora earum sapiente, eveniet inventore!</p>
        </div>
        <%= link_to "#" do %>
            <span>Learn more about restaurants</span>
            <div class="information__circle-right">
                <i class="fa fa-chevron-right"></i>
            </div>
        <% end %>
    </div>
</section>
