<%= render "shared/header" %>
<section class="banner">
    <div class="container">
        <div class="banner__title">
            <h5>welcome</h5>
            <h1 class="heading">prime steak</h1>
        </div>
        <div class="banner__contact-info">
            <div class="banner__booking">book table directly</div>
            <h2>(718) - 218 - 8688</h2>
            <div class="banner__hours">
                opening: <strong>mon - fri:</strong> 9am - 10pm <br class="banner__line-break"> <span class="banner__divider">/</span>
                <strong>weekends:</strong> 9am - 12pm
            </div>
        </div>
    </div>
</section>
