<div class="">
    <div class="">
        <%= render "shared/header" %>
        <section class="banner">
            <div class="title">
                <h5>welcome</h5>
                <h1>prime steak</h1>
                <div class="banner__contact-info">
                    <div>book table directly</div>
                    <h2>(718) - 218 - 8688</h2>
                    <div class="banner__hours">
                        opening <strong>mon - fri:</strong> 9am - 10pm
                        <strong>weekends:</strong> 9am - 12pm
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>