<div class="menu__items">

                            <div class="menu__item">
                                <div class="menu__item-title">fried calamari</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">seared ahi tuna</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">barbecue shrimp</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">goat cheese & artichoke</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">spicy shrimp</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">veal osso buco ravioli</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">sizzling crab cakes</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">mushroom stuffed with crabmeat</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">shrimp cocktail</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">chilled seafood tower</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                        </div>