<section id="pages">
    <div class="container">
        <div class="pages__content">
            <div class="row">
                <div class="col-md-6">
                    <div class="pages__column">
                        <h1>about us</h1>
                        <p class="pages__text">
                            Selvage heirloom dreamcatcher craft beer poke. Literally pabst solarpunk, bushwick poke yucciekickstarter truffaut roof party sartorial fingerstache pork belly. Synth helvetica mumblecorepolaroid lumbersexual tumeric four loko paleo PBR&B banjo cronut kitsch echo park art partyBrooklyn. Blog cupping glossier everyday carry, vice DSA etsy green juice master cleanse hammock.Edison bulb biodiesel vice Brooklyn PBR&B tousled, neutral milk hotel crucifix microdosinggentrify jean shorts.
                        </p>
                        <p class="pages__text">
                            Tumeric viral lyft small batch fam. Chicharrones whatever blog, bitters neutra meggings aesthetic big mood yes plz jean shorts. Swag copper mug wolf beard truffaut fanny pack hella tilde tousled vexillologist. Retro swag grailed farm-to-table.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pages__column">
                        <%= image_tag "pexels-helena-lopes-1015568" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>