<section id="pages">
    <div class="container">
        <div class="pages__content">
            <h1>dinner menu</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="menu">
                        <h1 class="menu__title">appetizers</h1>
                        <div class="menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias, possimus excepturi reiciendis voluptas eaque libero corporis exercitationem modi, nam culpa eveniet, minima molestias earum. Corporis placeat magnam dolorem inventore.</div>
                        <div class="menu__items">
                            <div class="menu__item">
                                <div class="menu__item-title">fried calamari</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">seared ahi tuna</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">barbecue shrimp</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">goat cheese & artichoke</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">spicy shrimp</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">veal osso buco ravioli</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">sizzling crab cakes</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">mushroom stuffed with crabmeat</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">shrimp cocktail</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">chilled seafood tower</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>