<section id="pages">
    <div class="container">
        <div class="pages__content">
            <div class="nav">
                <hr class="nav__line-break">
                <nav>
                    <div class="nav__link">dinner</div>
                    <div class="nav__link">cocktails & wine</div>
                    <div class="nav__link">children's</div>
                </nav>
                <hr class="nav__line-break">
            </div>
            <h1 class="menu-page__title">dinner menu</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="menu">
                        <h1 class="menu__title">appetizers</h1>
                        <hr class="menu__line-break">
                        <div class="menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias, possimus excepturi reiciendis voluptas eaque libero corporis exercitationem modi, nam culpa eveniet, minima molestias earum. Corporis placeat magnam dolorem inventore.</div>
                        <div class="menu__items">
                            <div class="menu__item">
                                <div class="menu__item-title">fried calamari</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">seared ahi tuna</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">barbecue shrimp</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">goat cheese & artichoke</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">spicy shrimp</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">veal osso buco ravioli</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">sizzling crab cakes</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">mushroom stuffed with crabmeat</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">shrimp cocktail</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                            <div class="menu__item">
                                <div class="menu__item-title">chilled seafood tower</div>
                                <div class="menu__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <section class="menu-modal menu-modal--visible">
                <div class="menu-modal__close-btn">
                    <i class="ti-close"></i>
                </div>
                <div class="menu-modal__container">
                    <div class="menu-modal__top-image">
                        <%= image_tag "calamari" %>
                    </div>
                    <div class="menu-modal__info">
                        <h1 class="menu-modal__title">calamari</h1>
                        <p class="menu-modal__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad recusandae, alias dignissimos laboriosam dolor ratione enim provident id veniam nesciunt, nemo voluptates in quibusdam.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>