<style>
    .card .card__top a img {
        min-width: 100%%;
        width: 305px;
    }

    .card {
        margin: 0 0 30px 0;
    }
    @media (min-width: 768px) {
        .card .card__top a img {
            min-width: 100%;
            width: 100px;
        }
    }
</style>
<section id="pages">
    <div class="container">
        <div class="pages__content">
            <div class="row">
                <div class="col-md-12">
                    <div class="promotions">
                        <h1>packages & promotions</h1>
                        <p class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore aspernatur molestiae, repudiandae non in esse explicabo quaerat, enim voluptates aliquam mollitia dolor facilis distinctio sequi eveniet ad similique suscipit!</p>

                        <div class="row">
                            <% @promos.each do |promo| %>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card__top">
                                            <%= link_to "#" do %>
                                                <%= image_tag "jed-owen-q6Y8Xr3SoQA-unsplash-640x426" %>
                                            <% end %>
                                        </div>
                                        <div class="card__bottom spacing__bottom">
                                            <h2 class="card__title">
                                                <%= promo %>
                                            </h2>
                                            <p class="card__description">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium architecto fugiat, dolor, vero necessitatibus tenetur repellendus sint nesciunt aut omnis.
                                            </p>
                                            <button class="card__promo-button">learn more</button>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>