// This applies from 0px to 768
@mixin menu{
    .spacing__bottom > * {
        margin-bottom: 20px;
    }

    .menu {
        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.6rem;
            text-transform: capitalize;
        }
        
        .subheading {
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            margin: 0 auto 50px auto;
        }
    }
    // This applies from 768px onwards
    @media (min-width: 768px) {
        .menu {

        }
    }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {}
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
}