:root {
    // roygbiv
    --rojo: #d10000;
    --naranja: #ff6622;
    --amrillo: #ffda21;
    --verde: #33dd00;
    --azul: #1133cc;
    --indigo: #220066;
    --violeta: #330044;

    // app colores
    --space-grey: #7a8d99;
    --metal-blue: #0971ce;
}