:root {
    // roygbiv
    --rojo: #d10000;
    --naranja: #ff6622;
    --amrillo: #ffda21;
    --verde: #33dd00;
    --azul: #1133cc;
    --indigo: #220066;
    --violeta: #330044;
    --negro: #111111;
    --blanco: #fffffe;
    

    // app colores
    --space-grey: #7a8d99;
    --metal-blue: #0971ce;
    --galaxy-grey: #525e66;
    --fito-red: #ed4852;
    --burger-orange: #f59c2e;
}

body {
    font-family: 'Roboto', sans-serif;
}

// mixins
@mixin gradient1 {
    background: var(--fito-red); /* old browsers */
    background: rgb(237,75,82);
    background: linear-gradient(90deg, rgba(237,75,82,1) 0%, rgba(237,75,82,1) 100%, rgba(156,27,36,1) 100%);
}