// This applies from 0px to 768px
.information {
    margin-top: 50px;
    .information__para {
        margin-bottom: 30px;
    }
    h2 {
        font-size: clamp(1.5rem, 2vw, 2.4rem);
        color: var(--negro);
        font-weight: 700;
        margin: 0.5rem 0 1.5rem;
    }

    p {
        font-size: 1.1rem;
        color: var(--space-grey);
        line-height: 1.5;
        margin: 0.5rem 0 2.5rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        span {
            font-size: clamp(1.2rem, 2vw, 2rem);
            text-transform: capitalize;
            color: var(--negro);
            font-weight: 500;
            margin: 0 8px 0 0;
            transition: all .4s ease-in-out;
            &:hover {
                color: var(--fito-red);
            }
        }
        .information__about-link {
            --circle-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: var(--circle-size);
            height: var(--circle-size);
            background-color: var(--fito-red);
            border-radius: 50%;
            .fa-chevron-right {
                color: var(--blanco);
                margin-left: 4px;
            }
        }
    }
}
// This applies from 768px onwards
@media (min-width: 768px) {
    .information {
        .information__para {
        }
        h2 {}

        p {}

        a {}
    }
}